In [ ]:
import datetime as dt
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df_pre = pd.read_csv('/content/INGRESO .csv', header = 0)
df_his = pd.read_csv('/content/MasterData Estaciones - MasterData (6).csv', header = 0)

**Tratamiento data historica**

In [ ]:
df_his.info()

In [ ]:
#Se arregla el formato del mes para poder usarlo en documento de historicos
df_his_mes = df_his[df_his['MesD'] != 'Anual']
df_his_mes = df_his_mes.astype({'Mes': int})

In [ ]:


#eliminación columnas innecesarias del historico
df_his_li = df_his_mes.drop(columns = ["No.","Departamento","Municipio","Region ","Latitud","Longitud","Altitud MSNM","Elevación","MesD","Instrumento","Código de instrumento","Jerarquia de humedad","Jerarquía de temperatura","Tipo de distribución de lluvia","Tipo de variación de la temp","Observador actual","Código de observador ","Edad","Caracteristicas fícas de la estación","Dicultad para el obervador(1 a 10)","Comentarios","Unnamed: 52"])

#PARA MIN
#Headers para min de historico
headers_min = ['Mes',
               'Estacion',
               'ID ESTACIONES',
               'MIN_brillo_solar_total_total/Hrs',
               'MIN_direccion_viento',
               'MIN_evaporacion_piche_total ',
               'MIN_evaporacion_tanque_total',
               'MIN_humedad_relativa_promedio',
               'MIN_nubosidad',
               'MIN_precipitacion_total_mm',
               'MIN_presion_atmosferica',
               'MIN_radiacion',
               'MIN_temp_max_oC',
               'MIN_temp_min_oC',
               'MIN_temp_suelo',
               'MIN_temperatura_media_oC',
               'MIN_velocidad_viento']


#Creación de Tabla Min Historico
df_his_min = df_his_li[headers_min]

#cambio nombre MIN Historico igual al de Data Cruda
df_his_min = df_his_min.rename({
               'MIN_brillo_solar_total_total/Hrs':'BRILLO SOLAR',
               'MIN_direccion_viento':'DIR. VIENTO',
               'MIN_evaporacion_tanque_total':'EVA. TANQUE',
               'MIN_evaporacion_piche_total ':'EVA. PICHE',
               'MIN_humedad_relativa_promedio':'HUMEDAD REL.',
               'MIN_nubosidad':'NUBOSIDAD',
               'MIN_precipitacion_total_mm':'LLUVIA',
               'MIN_presion_atmosferica':'PRESION ATM.',
               'MIN_radiacion':'RADIACION',
               'MIN_temp_max_oC':'TMAX',
               'MIN_temp_min_oC':'TMIN',
               'MIN_temp_suelo':'TSUELO',
               'MIN_temperatura_media_oC':'TMED',
               'MIN_velocidad_viento':'VEL. VIENTO'}, axis='columns')



#Transposicion de columnas MIN Historico
df_his_min_unpivot = pd.melt(df_his_min, id_vars = ["Mes", "Estacion", "ID ESTACIONES"], value_vars = ['BRILLO SOLAR',
               'DIR. VIENTO',
               'EVA. PICHE',
               'EVA. TANQUE',
               'NUBOSIDAD',
               'HUMEDAD REL.',
               'LLUVIA',
               'PRESION ATM.',
               'RADIACION',
               'TMAX',
               'TMIN',
               'TSUELO',
               'TMED',
               'VEL. VIENTO'])

#cambio nombre variable columna MIN Historico
df_his_min_unpivot.rename(columns = {'value':'rango_min'}, inplace = True)

#PARA MAX
#Header MAX Historico
headers_max = ['Mes', 
               'Estacion',
               'ID ESTACIONES',
               'MAX _brillo_solar_total_total/Hrs',
               'MAX _temp_max_oC', 
               'MAX_direccion_viento',
               'MAX_evaporacion_piche_total ',
               'MAX_evaporacion_tanque_total ',
               'MAX_humedad_relativa_promedio ', 
               'MAX_nubosidad',
               'MAX_precipitacion_total_mm',
               'MAX_presion_atmosferica',
               'MAX_radiacion',
               'MAX_temp_media_oC',
               'MAX_temp_min_oC',
               'MAX_temp_suelo',
               'MAX_velocidad_viento']

#Creación de MAX Historico
df_his_max = df_his_li[headers_max]

#cambio nombre columnas MAX Historico
df_his_max = df_his_max.rename({
               'MAX _brillo_solar_total_total/Hrs':'BRILLO SOLAR',
               'MAX _temp_max_oC':'TMAX',
               'MAX_direccion_viento':'DIR. VIENTO',
               
               'MAX_evaporacion_tanque_total ':'EVA. TANQUE',
               'MAX_evaporacion_piche_total ':'EVA. PICHE',
               'MAX_humedad_relativa_promedio ':'HUMEDAD REL.',
               'MAX_nubosidad':'NUBOSIDAD',
               'MAX_precipitacion_total_mm':'LLUVIA',
               'MAX_presion_atmosferica':'PRESION ATM.',
               'MAX_radiacion':'RADIACION',
               'MAX_temp_media_oC':'TMED',
               'MAX_temp_min_oC':'TMIN',
               'MAX_temp_suelo':'TSUELO',
               'MAX_velocidad_viento':'VEL. VIENTO'}, axis='columns')

#Trasposicion de columnas MAX Historico
df_his_max_unpivot = pd.melt(df_his_max, id_vars = ["Mes", "Estacion", "ID ESTACIONES"], value_vars = ['BRILLO SOLAR',
               'DIR. VIENTO',
               'EVA. PICHE',
               'EVA. TANQUE',
               'NUBOSIDAD',
               'HUMEDAD REL.',
               'LLUVIA',
               'PRESION ATM.',
               'RADIACION',
               'TMAX',
               'TMIN',
               'TSUELO',
               'TMED',
               'VEL. VIENTO'])

#cambio nombre variable columna MAX Historico
df_his_max_unpivot.rename(columns = {'value':'rango_max' }, inplace = True)

#Unión df_his_max_unpivot + df_his_min_unpivot
df_his_comp = df_his_min_unpivot.merge(df_his_max_unpivot, how = 'left', on = ['Mes','ID ESTACIONES','variable'])

df_his_comp.head()

,Mes,Estacion_x,ID ESTACIONES,variable,rango_min,Estacion_y,rango_max
0,4,Alameda Icta,INS040101CV,BRILLO SOLAR,3.7,Alameda Icta,11.4
1,4,Asunción Mita R.H.,INS220501CV,BRILLO SOLAR,0,Asunción Mita R.H.,11
2,4,Camotán,INS200501CV,BRILLO SOLAR,NaN,Camotán,NaN
3,4,Catarina,INS121601CV,BRILLO SOLAR,NaN,Catarina,NaN
4,4,Champerico Fegua,INS110701CV,BRILLO SOLAR,0.0,Champerico Fegua,11.2

In [ ]:
#ver si elimino los nan y las estaciones quedandome con el ID
df_his_comp_na = df_his_comp.dropna()
df_his_comp_na.head()

,Mes,Estacion_x,ID ESTACIONES,variable,rango_min,Estacion_y,rango_max
0,4,Alameda Icta,INS040101CV,BRILLO SOLAR,3.7,Alameda Icta,11.4
1,4,Asunción Mita R.H.,INS220501CV,BRILLO SOLAR,0,Asunción Mita R.H.,11
4,4,Champerico Fegua,INS110701CV,BRILLO SOLAR,0.0,Champerico Fegua,11.2
6,4,Chixoy PCH,INS141901CV,BRILLO SOLAR,0,Chixoy PCH,9.8
7,4,Cobán,INS160101CV,BRILLO SOLAR,0,Cobán,10.3

In [ ]:
df_his_comp_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5473 entries, 0 to 7895
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Mes            5473 non-null   int64
 1   Estacion_x     5473 non-null   object
 2   ID ESTACIONES  5473 non-null   object
 3   variable       5473 non-null   object
 4   rango_min      5473 non-null   object
 5   Estacion_y     5473 non-null   object
 6   rango_max      5473 non-null   object
dtypes: int64(1), object(6)
memory usage: 342.1+ KB

**Tratamiento Data Preliminar **

In [ ]:
df_pre.head()
df_pre.info()

In [ ]:
#Eliminación del encabezado innecesario
df_pre = df_pre.drop([1, 0],axis=0)

In [ ]:
#cambio de nombre de la columna de fecha
df_pre = df_pre.rename(columns = {'Unnamed: 0': 'FECHA'})

df_pre.head()

In [ ]:
#Convertir columna de fecha en el formato correcto
df_pre_fecha = df_pre[df_pre['FECHA'].notnull()]
df_pre_fecha['Fecha'] = pd.to_datetime(df_pre_fecha['FECHA']).dt.strftime('%d/%m/%Y')
df_pre_fecha['FechaD'] = pd.to_datetime(df_pre_fecha['FECHA'])
#extraccion en columna a parte el mes
df_pre_fecha['Mes'] = df_pre_fecha['FechaD'].dt.month
df_pre_fecha['Mes'] = df_pre_fecha['Mes'].astype(int)

df_pre_fecha.head()
#df_pre_fecha.info()

In [ ]:
#Transposición del ID Estaciones a filas 
df_pre_fecha_unpivot = pd.melt(df_pre_fecha, id_vars = ['Mes',"FECHA", "VARIABLE"], value_vars = [ 'INS200501CV',
               'INS121601CV',
               'INS110701CV',
               'INS160101CV',
               'INS071301CV',
               'INS200701CV',
               'INS170101CV',
               'INS010102CV',
               'INS210601CV',
               'INS190201CV',
               'INS090301CV',
               'INS090101CV',
               'INS100101CV',
               'INS221401CV',
               'INS160701CV',
               'INS180101CV',
               'INS110101CV',
               'INS141601CV',
               'INS120101CV',
               'INS041001CV',
               'INS131501CV',
               'INS010101CV',
               'INS040101CV',
               'INS220501CV',
               'INS-140301',
               'INS070101CV',
               'INS130101CV',
               'INS190901CV',
               'INS180201CV',
               'INS141301CV',
               'INS171201CV',
               'INS221701CV',
               'INS050101CV',
               'INS020302CV',
               'INS150701CV',
               'INS050901CV',
               'INS130601CV',
               'INS161201CV',
               'INS071901CV',
               'INS030801CV',
               'INS121701CV',
               'INS141901CV',
               'INS150401CV',
               'INS020301CV',
               'INS060101CV',
               'INS190301CV',
               'INS210101CV',
               'INS040301CV',
               'INS011401AT',
               'INS030101AT',
               'INS050101AT',
               'INS122301AT',
               'INS210101AT',
               'INS122101AT',
               'INS-010331',
               'INS010801AT',
               'INS180501AT',
               'INS180401AT',
               'INS-130527',
               'PLUVIOMÉT',
               'INS090401AT',
               'INS142201AT',
               'INS010301AT',
               'INS010701AT',
               'INS140101AT',
               'INS040801AT',
               'INS080101AT'])
df_pre_fecha_unpivot.head()

In [ ]:
#renombre de columnas segun necesidad
df_pre_fecha_unpivot = df_pre_fecha_unpivot.rename(columns = {'variable': 'ID ESTACIONES'})
df_pre_fecha_unpivot = df_pre_fecha_unpivot.rename(columns = {'VARIABLE': 'variable'})
df_pre_fecha_unpivot.head()

In [ ]:
#reemplazo de -99.9 por NaN
df_pre_fecha_unpivot_re = df_pre_fecha_unpivot.replace(to_replace = '-99.9', value = np.nan)
#df_datos_preliminares_nan = df_datos_preliminares_nan.replace(to_replace = 'NR', value = np.nan) 
#df_datos_preliminares_nan = df_datos_preliminares_nan.replace(to_replace = 'R/', value = np.nan)

#({'value': -99.9},np.nan)
#df_datos_preliminares_nan_NR = df_datos_preliminares_unpivot.replace(to_replace = 'NR', value = np.nan) 
#({'value': NR},np.nan)
df_pre_fecha_unpivot_re.head()

In [ ]:
#Eliminacion de NAN
df_pre_fecha_unpivot_re_na = df_pre_fecha_unpivot_re.dropna()

In [ ]:
#Union df_his_comp_na + df_pre_fecha_unpivot_re_na 
df_his_pre = df_pre_fecha_unpivot_re_na.merge(df_his_comp_na, how = 'left', on = ['Mes','ID ESTACIONES','variable'])
df_his_pre.head(10)

In [ ]:
#eliminacion de nuevo de NA, revisar bien esto
df_his_pre_na = df_his_pre.dropna()
df_his_pre_na.head(30)

In [ ]:
df_his_pre_na.info()

In [ ]:

#Elimina letras en la columna de value
df_his_pre_na['value'] = pd.to_numeric(df_his_pre_na['value'],errors='coerce')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#Rangos y valor de variables en el mismo formato
df_his_pre_na_fl = df_his_pre_na.astype(
    {
    'value': float,
    'rango_min': float,
    'rango_max': float,
    }
  )

df_valida_var = df_his_pre_na_fl
#Validacion de rango para todas las variables
df_valida_var['value'] = np.where(
  (df_valida_var['value'] <= df_valida_var['rango_max']) & 
  (df_valida_var['value'] >= df_valida_var['rango_min']),
  df_valida_var['value'],
  np.nan)

In [ ]:
df_valida_var.head(30)

In [ ]:
#Eliminacion de NaN
df_valida_var_na = df_valida_var.dropna()
df_valida_var_na.head(30)

Tratamiento tmax≤tmin

In [ ]:
#pivotear las variables
df_valida_var_pivot = df_valida_var_na
df_valida_var_pivot = df_valida_var_pivot.pivot_table(index = ['FECHA','ID ESTACIONES'], columns = 'variable', aggfunc = 'first')['value']

df_valida_var_pivot = df_valida_var_pivot.reset_index()

In [ ]:
df_valida_var_pivot.head()

In [ ]:
#Creacion de columna extra para saber si tiene NaN la variale TMAX,TMIN
df_valida_tmax_tmin = df_valida_var_pivot


df_valida_tmax_tmin['val_nan'] = np.where((df_valida_tmax_tmin['TMAX'].isnull()) | (df_valida_tmax_tmin['TMIN'].isnull()), 1, 0)

In [ ]:
#Validacion de tmax < tmin 
df_valida_tmax_tmin['TMAX'] = np.where(
                                        df_valida_tmax_tmin['val_nan'] == 0,
                                          np.where(
                                                    df_valida_tmax_tmin['TMAX'] <= df_valida_tmax_tmin['TMIN'], np.nan, df_valida_tmax_tmin['TMAX']
                                          ),
                                       df_valida_tmax_tmin['TMAX'])

In [ ]:
df_valida_tmax_tmin.head(100)

In [ ]:
#Eliminacion de columna de val_nan
#Base de datos final
df_validado = df_valida_tmax_tmin.drop(columns = ["val_nan"])

In [ ]:
df_validado.head()

Generar documento de estadistica de QC

Generar estadistica descriptiva de toda las variables