In [ ]:
def estacion_var_min_month(df):

  rows, columns = df.shape #almacena el número de filas y columnas 
  df_columns = list(df.columns.values)#crea un objeto de lista. Un objeto de lista es una colección ordenada y modificable.
  #devuelve un objeto de vista. lista con nombres de columnas header


# range(inicio,fin)
#recorrer elementos uno a uno
  for i in range(3, columns):
    columns_df_select = [] #lista vacía
    
    mes = df_columns[2]
    column_select = df_columns[i] #a partir de columna 3, variables a analizar
    
    #agregar elementos al final de lista
    columns_df_select.append(mes)
    columns_df_select.append(column_select)#nombre columna a pivotear y a analizar 
    
    df_filtered = df_max_min[columns_df_select]#df completo solo saco las var a analizar
    df_clean_nan = df_filtered.dropna()
    #agrupar las nuevas columnas por el min
    df_groupby = df_clean_nan.groupby(['Mes']).min(column_select)#colum a analizar

    #

    if i == 3:
      df_full_metrics = df_groupby #copia de primera vuelta

    if i == 4:
      df_result = pd.concat([df_full_metrics, df_groupby], axis = 1)#mes var 1 y var 2
    
    if i > 4:
      df_result = pd.concat([df_result, df_groupby], axis = 1)

  return df_result

In [ ]:
def estacion_var_max_month(df):

  rows, columns = df.shape #almacena el número de filas y columnas 
  df_columns = list(df.columns.values)#crea un objeto de lista. Un objeto de lista es una colección ordenada y modificable.
  #devuelve un objeto de vista. lista con nombres de columnas header


# range(inicio,fin)
#recorrer elementos uno a uno
  for i in range(3, columns):
    columns_df_select = [] #lista vacía
    
    mes = df_columns[2]
    column_select = df_columns[i] #a partir de columna 3, variables a analizar
    
    #agregar elementos al final de lista
    columns_df_select.append(mes)
    columns_df_select.append(column_select)#nombre columna a pivotear y a analizar 
    
    df_filtered = df_max_min[columns_df_select]#df completo solo saco las var a analizar
    df_clean_nan = df_filtered.dropna()
    #agrupar las nuevas columnas por el min
    df_groupby = df_clean_nan.groupby(['Mes']).max(column_select)#colum a analizar

    #

    if i == 3:
      df_full_metrics = df_groupby #copia de primera vuelta

    if i == 4:
      df_result = pd.concat([df_full_metrics, df_groupby], axis = 1)#mes var 1 y var 2
    
    if i > 4:
      df_result = pd.concat([df_result, df_groupby], axis = 1)

  return df_result

In [ ]:
df_test_etl_min = estacion_var_min_month(df_max_min)
df_test_etl.head()

In [ ]:
df_test_etl_max = estacion_var_max_month(df_max_min)
df_test_etl.head()